/bin
/Hillsim1.txt
/Hillsim0.txt
/IndGenResult.txt
/IndGenResult.txt~
/IndGenResult2.txt
/IndivGen.txt
/IndivGen.txt~
/start.sh~
/testjson.json
/Evolresult.txt~
/hs_err_pid3501.log
/GenEmResult.txt~
/GenEmResult.txt
/evolJEAFP.xml~
/HillClimbTest.txt
/HillClimbingResult0.txt
/HillClimbingResult.txt
/HillClimbTest0.txt
/HillClimbTest1.txt
/HillClimbingResult1.txt
/HillClimbTest30.txt
/GenResult.txt
/GenResultHAEA.txt
/GenResultFit.txt
/HillClimbingResult2.txt
/HillClimbingResult3.txt
/HillClimbTest2.txt
/HillClimbTest3.txt
/HillClimbTest4.txt
